@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body, html, h1 {
    margin: 0;
}

body {
    font-family:'Lato', sans-serif
}

header {
    background-color: #6da59d;
    color: white;
    padding: 20px;
    /* margin: 20px; */
    text-align: center;
}

h1 {
    font-size: 40px;
}
p {
    font-size: 22px;
}

canvas {
    margin: auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    padding: 10px;
}